{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des Inscriptions</h1>
        <a class="btn btn-primary" href="{{path('inscription_notyet')}}">Inscrire Elève</a> <br>
        <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Avance</th>
                <th>Date dernière avance</th>
                <th>Status</th>
                <th>Redoublant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td><a href="{{ path('inscription_show', { 'id': inscription.id }) }}">{{ inscription.id }}</a></td>
                <td>{{ inscription.avance }}</td>
                <td>{% if inscription.dateDerniereAvance %}{{ inscription.dateDerniereAvance|date('Y-m-d') }}{% endif %}</td>
                <td>{% if inscription.status %}Yes{% else %}No{% endif %}</td>
                <td>{% if inscription.redoublant %}Yes{% else %}No{% endif %}</td>
                <td>
                        <a class="btn btn-info" href="{{ path('inscription_show', { 'id': inscription.id }) }}">Voir</a>
                        <a class="btn btn-success" href="{{ path('inscription_edit', { 'id': inscription.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
