{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des élèves du lycée</h1>
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead class="alert-info">
            <tr>
                <th>N°</th>
                <th>Nom de l'élève</th>
                <th>Classe</th>
                <th>Avance</th>
                <th>Date dernière avance</th>
                <th>Complet ?</th>
                <th>Redoublant ?</th>
                <th>Complèter l'inscription</th>
                <th>Profil</th>
            </tr>
        </thead>
        <tbody>
            {% set num = 1  %}
            {% for inscription in inscriptions %}
                <tr>
                    <td>{{num}}</td>
                    <td><a href="{{path('student_show', { 'id': inscription.student.id })}}">{{inscription.student}}</a></td>
                    <td>{{inscription.classe.abreviation}}</td>
                    <td>{{ inscription.avance }}</td>
                    <td>{% if inscription.dateDerniereAvance %}{{ inscription.dateDerniereAvance|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if inscription.status %}Yes{% else %}No{% endif %}</td>
                    <td>{% if inscription.redoublant %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <a href="{{ path('inscription_edit', { 'id': inscription.id }) }}">Compléter</a>
                    </td>
                    <td>
                        <a target="blank" href="{{path('bulletin_performance_eleve', {'idEleve': inscription.student.id})}}" class="btn btn-link">Profil</a>
                    </td>
                </tr>
                {% set num = num + 1 %}
            {% endfor %}
        </tbody>
    </table>
    <script>
        function buildSeqBull(id, value) {
            document.getElementById('sequence' + id).value = value;
        }

        function buildTrimBull(id, value) {
            document.getElementById('trimestre' + id).value = value;
        }

        function collecteBull(id) {
            var lien = document.getElementById('cible' + id).href;
            var idSeq = document.getElementById('sequence' + id).value;
            var idTrim = document.getElementById('trimestre' + id).value;
            lien = lien.replace("IDSEQ", idSeq);
            document.getElementById('cible' + id).href = lien;
        }

    </script>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
