{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des Classes</h1>
    <a class="btn btn-primary" href="{{ path('classe_new') }}">Ajouter une classe</a>
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Abreviation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td><a href="{{ path('classe_show', { 'id': classe.id }) }}">{{ classe.id }}</a></td>
                <td>{{ classe.nom }}</td>
                <td>{{ classe.abreviation }}</td>
                <td>
                        {# <a class="btn btn-info" href="{{ path('classe_show', { 'id': classe.id }) }}">show</a> #}
                        <a class="btn btn-success" href="{{ path('classe_edit', { 'id': classe.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}

{% endblock %}
