{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classe</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ classe.nom }}</td>
            </tr>
            <tr>
                <th>Abreviation</th>
                <td>{{ classe.abreviation }}</td>
            </tr>
        </tbody>
    </table>

    <table class="pull-left">
        <tr>
            <td><a class="btn btn-default" href="{{ path('classe_index') }}">Retour à la liste</a></td>
            <td>&nbsp; &nbsp;</td>
            <td><a class="btn btn-success" href="{{ path('classe_edit', { 'id': classe.id }) }}">Modifier</a></td>
            <td>&nbsp; &nbsp;</td>
            <td>{{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
