{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de tous les élèves</h1>

    <nav class="nav navbar-nav">
        <a class="btn btn-primary" href="{{ path('student_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un nouvel élève</a>
    </nav>
    <table class="display table table-bordered" id="dynamic-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Noms et prénoms</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Détails</th>
                <th>Modifier/Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.id }}</a></td>
                    <td>{{ student.matricule }}</td>
                    <td>{{ student.nom }}</td>
                    <td>{% if student.dateNaissance %}{{ student.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ student.lieuNaissance }}</td>
                    <td>
                        <a class="btn glyphicon glyphicon-list-alt" href="{{ path('student_show', { 'id': student.id }) }}"></a>
                    </td>
                    <td>
                        <a class="btn glyphicon glyphicon-edit" href="{{ path('student_edit', { 'id': student.id }) }}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
