{% extends 'base.html.twig' %}

{% block body %}
    <h1>Students list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Datenaissance</th>
                <th>Lieunaissance</th>
                <th>Nompere</th>
                <th>Nommere</th>
                <th>Adressepere</th>
                <th>Adressemere</th>
                <th>Personneacontacter</th>
                <th>Dernieretablissementfreq</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.id }}</a></td>
                <td>{{ student.matricule }}</td>
                <td>{{ student.nom }}</td>
                <td>{% if student.dateNaissance %}{{ student.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ student.lieuNaissance }}</td>
                <td>{{ student.nomPere }}</td>
                <td>{{ student.nomMere }}</td>
                <td>{{ student.adressePere }}</td>
                <td>{{ student.adresseMere }}</td>
                <td>{{ student.personneAcontacter }}</td>
                <td>{{ student.dernierEtablissementFreq }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('student_show', { 'id': student.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('student_edit', { 'id': student.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_new') }}">Create a new student</a>
        </li>
    </ul>
{% endblock %}
