{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Détail sur un élève</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ student.matricule }}</td>
            </tr>
            <tr>
                <th>Nom de l'élève</th>
                <td>{{ student.nom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if student.dateNaissance %}{{ student.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ student.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Nom du père</th>
                <td>{{ student.nomPere }}</td>
            </tr>
            <tr>
                <th>Nom de la mère</th>
                <td>{{ student.nomMere }}</td>
            </tr>
            <tr>
                <th>Adresse du père</th>
                <td>{{ student.adressePere }}</td>
            </tr>
            <tr>
                <th>Adresse de la mère</th>
                <td>{{ student.adresseMere }}</td>
            </tr>
            <tr>
                <th>Personne à contacter</th>
                <td>{{ student.personneAcontacter }}</td>
            </tr>
            <tr>
                <th>Dernier etablissement frequenté</th>
                <td>{{ student.dernierEtablissementFreq }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{asset('Uploads/Photos/' ~ student.photo)}}" height="75px" width="100px"/></td>
            </tr>
        </tbody>
    </table>
    <table class="pull-left">
        <tr>
            <td><a class="btn btn-default" href="{{ path('classe_index') }}">Retour à la liste</a></td>
            <td>&nbsp; &nbsp;</td>
            <td><a class="btn btn-success" href="{{ path('student_edit', { 'id': student.id }) }}">Modifier</a></td>
            <td>&nbsp; &nbsp;</td>
            <td>{{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>
{% endblock %}
