{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des matières</h1>
    <a class="btn btn-primary" href="{{ path('matiere_new') }}">Ajouter une matière</a>
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Abreviation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('matiere_show', { 'id': matiere.id }) }}">{{ matiere.id }}</a></td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.abreviation }}</td>
                <td>
                        <a class="btn btn-success" href="{{ path('matiere_edit', { 'id': matiere.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
