{# utilisateur #}

{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}} Gestion des utilisateurs{% endblock %}
{% block body %}
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading text-center">
            <h1>Liste des utilisateurs </h1>
            <a class="btn btn-primary pull-left" href="{{path('enseignant_register')}}">Ajouter un utilisateur</a>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Nom</th>
            <th>Login</th>
            <th>Adresse Email</th>
            <th>Numéro de téléphone</th>
            <th>Activer / Desactiver</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                    <span class="fa fa-caret-down"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                        <a <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}"><i class="fa fa-eye"></i> Voir Utilisateur</a>
                    </li>
                    <li><a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i> Editer Utilisateur</a></li>
                  </ul>
                </div>
                </td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>
                        {% if app.user.username == utilisateur.username %}
                            <span class="label label-default">Utilisateur Connecté</span>                        

                        {% else %}
                            {% if utilisateur.enabled %}
                                <a href="{{ path('utilisateur_disable', { 'id': utilisateur.id }) }}" class="btn btn-danger" > Désactiver
                                </a>
                            {% else %}
                                <a href="{{ path('utilisateur_enable', { 'id': utilisateur.id }) }}" class="btn btn-warning">Activer</a>
                            {% endif %}
                        {% endif %}
                                
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
    {% include './utilisateur/extras.css.html.twig' %}
    {% include './utilisateur/extras.js.html.twig' %}
{% endblock %}

