{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="row">
            <div class="col-md-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <section class="panel">
                    <header class="panel-heading text-center">
                        <h1>Enregistrement d'un utilisateur</h1>
                    </header>
                    <div class="panel-body">
                        {{ form_start(form, {'method': 'post', 'action': path('enseignant_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        <div class="row">
                            <div class="col-md-6">   
                            <div class="form-group">
                                {{ form_label(form.nom) }}
                                {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.telephone) }}
                                    {{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(form.anciennete) }}
                                    {{ form_widget(form.anciennete,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.matricule) }}
                                    {{ form_widget(form.matricule,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">  
                                <div class="form-group">
                                    {{ form_label(form.grade) }}
                                    {{ form_widget(form.grade,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.diplomes) }}
                                    {{ form_widget(form.diplomes,{'attr':{'class':'form-control'}}) }}
                               </div>
                            </div>
                        </div>
                        <table class="pull-right">
                            <tr>
                                <td>
            						<input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><a class="btn btn-default" href="{{ path('utilisateur_index') }}">Retour à la liste
                                </a>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        {{ form_end(form) }}

                    </div>
                </section>
            </div>
    </div>
{% endblock %}

