{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Détail sur un utilisateur</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ utilisateur.matricule }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ utilisateur.grade }}</td>
            </tr>
            <tr>
                <th>Diplome de recrutement</th>
                <td>{{ utilisateur.diplomes }}</td>
            </tr>
            <tr>
                <th>Ancienété</th>
                <td>{{ utilisateur.anciennete }}</td>
            </tr>
            <tr>
                <th>Numero de téléphone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
        </tbody>
    </table>
        <table>
            <tr>
                <td>
                    <a class="btn btn-default" href="{{ path('utilisateur_index') }}">Retour à la liste</a>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <a class="btn btn-success" href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Modifier</a>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </table>
{% endblock %}
