{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Information sur le pays</h1>
    <a class="btn btn-primary pull-left" href="{{ path('pays_new') }}">Ajouter</a>
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Pays en Francais</th>
                <th>Pays en Anglais</th>
                <th>Ministère en Francais</th>
                <th>Ministère en Anglais</th>
                <th>Devise en Francais</th>
                <th>Devise en Anglais</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td>{{ pay.paysFrancais }}</td>
                <td>{{ pay.paysAnglais }}</td>
                <td>{{ pay.ministereFrancais }}</td>
                <td>{{ pay.ministereAnglais }}</td>
                <td>{{ pay.deviseFrancais }}</td>
                <td>{{ pay.deviseAnglais }}</td>
                <td>
                        <a class="btn btn-success" href="{{ path('pays_edit', { 'id': pay.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
