{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <section class="panel">
                <header class="panel-heading text-center">
                    Informations sur le Pays
                </header>
                <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.paysFrancais, "Nom du pays en Français") }}
                                    {{ form_widget(form.paysFrancais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.paysAnglais, "Nom du pays en Anglais") }}
                                    {{ form_widget(form.paysAnglais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ministereFrancais, "Nom du Ministère en charge en Français") }}
                                    {{ form_widget(form.ministereFrancais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ministereAnglais, "Nom du Ministère en charge en Anglais") }}
                                    {{ form_widget(form.ministereAnglais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.deviseFrancais, "Devise du pays en Français") }}
                                    {{ form_widget(form.deviseFrancais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.deviseAnglais, "Devise du pays en Anglais") }}
                                    {{ form_widget(form.deviseAnglais, {'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <a class="btn btn-default" href="{{path('pays_index')}}">Retour</a>
                        </div>
                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}

        <script>
        var photo = document.getElementById('studentbundle_student_photo');
        photo.name = 'avatar';
    </script>
{% endblock %}

