{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des sexes</h1>
    <a class="btn btn-primary" href="{{ path('sexe_new') }}">Ajouter</a>
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sexe in sexes %}
            <tr>
                <td><a href="{{ path('sexe_show', { 'id': sexe.id }) }}">{{ sexe.id }}</a></td>
                <td>{{ sexe.nom }}</td>
                <td>
                        <a href="{{ path('sexe_edit', { 'id': sexe.id }) }}">Modifier</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/sequence/extras_sequence.js.html.twig' %}
{% endblock %}
