{% extends 'base.html.twig' %}

{% block body %}
    <h1>Constantes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Nomfrancais</th>
                <th>Nomanglais</th>
                <th>Devisefrancais</th>
                <th>Deviseanglais</th>
                <th>Boitepostal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constante in constantes %}
            <tr>
                <td><a href="{{ path('constante_show', { 'id': constante.id }) }}">{{ constante.id }}</a></td>
                <td>{{ constante.ville }}</td>
                <td>{{ constante.nomFrancais }}</td>
                <td>{{ constante.nomAnglais }}</td>
                <td>{{ constante.deviseFrancais }}</td>
                <td>{{ constante.deviseAnglais }}</td>
                <td>{{ constante.boitePostal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('constante_show', { 'id': constante.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('constante_edit', { 'id': constante.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('constante_new') }}">Create a new constante</a>
        </li>
    </ul>
{% endblock %}
