{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Détals sur l'établissement</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ constante.id }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ constante.ville }}</td>
            </tr>
            <tr>
                <th>Nomfrancais</th>
                <td>{{ constante.nomFrancais }}</td>
            </tr>
            <tr>
                <th>Nomanglais</th>
                <td>{{ constante.nomAnglais }}</td>
            </tr>
            <tr>
                <th>Devisefrancais</th>
                <td>{{ constante.deviseFrancais }}</td>
            </tr>
            <tr>
                <th>Deviseanglais</th>
                <td>{{ constante.deviseAnglais }}</td>
            </tr>
            <tr>
                <th>Boitepostal</th>
                <td>{{ constante.boitePostal }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img src="{{asset('Uploads/Logo/' ~ constante.logo)}}" /></td>
            </tr>
        </tbody>
    </table>
    <table>
            <td>
            <a class="btn btn-default" href="{{ path('constante_index') }}">Retour à la liste</a>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <a class="btn btn-success" href="{{ path('constante_edit', { 'id': constante.id }) }}">Modifier</a>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </td>
        <tr>
        </tr>
    </table>
{% endblock %}
