{% extends 'base.html.twig' %}

{% block body %}
    <h1>Absences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbreabsence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td><a href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></td>
                <td>{{ absence.nbreAbsence }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('absence_show', { 'id': absence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_new') }}">Create a new absence</a>
        </li>
    </ul>
{% endblock %}
