{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste total des absences</h1>

    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Elèves</th>
                <th>Classes</th>
                <th>Nombre des absence</th>
                <th>Séquence</th>
                <th>Année</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>{{ absence.student }}</td>
                <td>{{ absence.student.classe }}</td>
                <td>{{ absence.nbreAbsence }}</td>
                <td>{{ absence.sequence }}</td>
                <td>{{ absence.anneeScolaire }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '/categorie/extras_categorie.css.html.twig' %}
    {% include '/categorie/extras_categorie.js.html.twig' %}
{% endblock %}
