    {{ form_start(edit_form, {'method': 'POST', 'action': path('categorie_edit',{'id':categorie.id} )}) }}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">        
        <div class="form-group">
        {{ form_label(edit_form.nom, "Nom de la catégorie") }}
        {{ form_widget(edit_form.nom, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    </div>
    <table>
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="Enregistrer" />
            </td>
    {{ form_end(edit_form) }}
            <td>&nbsp;&nbsp;</td>
            <td>{{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>
