{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <section class="panel">
                <header class="panel-heading text-center">
                    Nouvel enseignement
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.matiere, "Matiere") }}
                                {{ form_widget(form.matiere, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.enseignant, "Enseignant") }}
                                {{ form_widget(form.enseignant, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.classe, "Classe") }}
                                {{ form_widget(form.classe, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.coefficient, "Coefficient") }}
                                {{ form_widget(form.coefficient, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.annee, "Annee") }}
                                {{ form_widget(form.annee, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.nombreHeuresAnnuel, "nombre d'heure Annuel") }}
                                {{ form_widget(form.nombreHeuresAnnuel, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.nombreLeconsAnnuel, "nombre de leçons Annuel") }}
                                    {{ form_widget(form.nombreLeconsAnnuel, {'attr':{'class':'form-control'}}) }}
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.titulaire, "Titulaire") }}
                                {{ form_widget(form.titulaire, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a class="btn btn-default" href="{{path('estdispense_index')}}">Retour à la liste</a>

                </div>
            </section>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
