<style type="text/css">
    table {
        width: 100%;
        color: #717375;
        font-family: helvetica;
        line-height: 5mm;
        border-collapse: collapse;
    }

    .10p { width: 10%; } .47p { width: 47%; }
    .25p { width: 25%; } .50p { width: 50%; }
    .60p { width: 60%; } .75p { width: 75%; }
    .30p {width: 30%;} .20p{width: 20%;}
    .40p{width: 40%} .100p{width: 100%;}
                         .6p{width: 6%}

    .info td, .info1 td{
        height: 20px;
        border: none;
    }
    .evaluations, .statistiques{
        margin-top: 10px;;
    }
    .evaluations td,.evaluations th {
        border: 1px solid darkgray;
        height: 25px;
    }
    .statistiques td{
        font-weight: bold;
    }
</style>


<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <p>GreenSoft-Team</p>
    </page_footer>
    <table>
        <tr>
            <td class="40p">
                {{ pays.ministereFrancais }}<br/>
                {{ ecole.nomFrancais }}<br/>
                B.P. {{ ecole.boitePostal }}
            </td>
            <td class="20p" style="text-align: center">
			{%if ecole.logo %}
                <img style="height: 80px; width: 60px;" src="uploads/logos/{{ ecole.logo.id ~'.'~ ecole.logo.url}}" alt="Logo" title="" >
			{% endif %}
            </td>
            <td style="text-align: right" class="40p">
                {{ pays.paysFrancais }}<br/>
                {{ pays.deviseFrancais }}<br/>
                {{ ecole.deviseFrancais }}<br/>
            </td>
        </tr>
    </table>
    <table class="info1" style="margin-top: 10px;">
        <tr>
            <td class="100p" style="text-align: center;"><strong><h3>NOTES SEQUENTIELLES</h3></strong></td>
        </tr>
    </table>
    <table class="info">
        <tr>
            <td class="50p" style="text-align: left; border: none">Ann&eacute;e Acad&eacute;mique: <b>{{ enseignement.annee}}</b></td>
            <td class="50p" style="text-align: right; border:none; ">S&eacute;quence:  <b>{{ sequence }}</b></td>
        </tr>
        <tr>
            <td class="50p" style="text-align: left">Classe:  <b>{{ enseignement.classe}}</b></td>
            <td class="50p" style="text-align: right">Mati&egrave;re: <strong>{{ enseignement.matiere }}</strong></td>
        </tr>
        <tr>
            <td class="50p" style="text-align: left;" >Enseignant: <b>{{enseignement.enseignant}}</b></td>
        </tr>
    </table>
    <table class="evaluations">
        <tr>
            <th class="6p" style="text-align: center">N&deg;</th>
            <th class="47p">Nom de l'&eacute;l&egrave;ve</th>
            <th class="47p">Note /20</th>
        </tr>
        {% set comptSup10 = 0 %}
        {% set compt8et9 = 0 %}
        {% set compt0et8 = 0 %}

        {% if evaluations  %}

            {% for key, evaluation in evaluations %}
                <tr>
                    <td style="text-align: center">{{ key + 1 }}</td>
                    <td>{{ evaluation.student | upper }}</td>
                    <td> {{ evaluation.note }}
                        {% if(evaluation.note >= 10 )  %}
                            {% set comptSup10 = comptSup10 + 1 %}
                        {% elseif (evaluation.note >= 8 and evaluation.note <= 9)  %}
                            {% set compt8et9 = compt8et9 + 1 %}
                        {% else %}
                            {% set compt0et8 = compt0et8 + 1%}
                        {% endif %}
                        </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3" style="text-align: center"><strong>Notes non encore disponibles</strong></td></tr>
        {% endif %}
    </table>

    {% if evaluations %}
    {% set totalNotes = evaluations|length %}
    <table class="statistiques">
        <tr>
            <td style="text-align: left" class="50p">Nombres de moyennes </td>
            <td style="text-align: center" class="20p">{{ comptSup10 }}</td>
            <td style="text-align: center" class="20p">{% set pourcentage1 = (comptSup10 * 100)/totalNotes  %}
                {{ pourcentage1 | number_format(2, '.', ',')  }}%</td>
        </tr>
        <tr>
            <td style="text-align: left" class="50p">Nombres de note comprise entre 8.00 et 9.00 </td>
            <td style="text-align: center" class="20p">{{ compt8et9 }}</td>
            <td style="text-align: center" class="20p">{% set pourcentage2 = (compt8et9 * 100)/totalNotes  %}
            {{ pourcentage2 | number_format(2, '.', ',') }}%
            </td>
        </tr>
        <tr>
            <td class="50p" style="text-align: left">Nombres de note inf&eacute;rieure &agrave; 8.00 </td>
            <td class="20p" style="text-align: center">{{ compt0et8 }}</td>
            <td class="20p" style="text-align: center">{% set pourcentage3 = (compt0et8 * 100)/totalNotes  %}
                {{ pourcentage3 | number_format(2, '.', ',')  }}%</td>
        </tr>
    </table>
    {% endif %}
    </page>